[Unit]
Description=Teleimager camera capture server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=robot
Group=robot
SupplementaryGroups=video
WorkingDirectory=@PROJECT_ROOT@
Environment=PYTHONUNBUFFERED=1
Environment=XR_TELEOP_WEBRTC_SCHEME=https
Environment=XR_TELEOP_CERT=@PROJECT_ROOT@/config/cert.pem
Environment=XR_TELEOP_KEY=@PROJECT_ROOT@/config/key.pem
ExecStart=/home/robot/miniconda3/envs/teleimager/bin/python -m teleimager.image_server --no-affinity
Restart=on-failure
RestartSec=3
TimeoutStopSec=15

StandardOutput=append:@PROJECT_ROOT@/logs/app/teleimager-camera-capture.service.log
StandardError=append:@PROJECT_ROOT@/logs/app/teleimager-camera-capture.service.log

[Install]
WantedBy=multi-user.target
