ROBOT_SYNC_HOST=0.0.0.0
ROBOT_SYNC_PORT=18090
ROBOT_SYNC_REMOTE_HOST=robot@192.168.61.142
ROBOT_SYNC_JUMP_HOST=
ROBOT_SYNC_REMOTE_DIR=~/data/datasets/robot
ROBOT_SYNC_LOCAL_DIR=/data03/data/datasets/robot
ROBOT_SYNC_INTERVAL_SECONDS=60
ROBOT_SYNC_SETTLE_SECONDS=180
ROBOT_SYNC_CONCURRENT_SYNCS=1
ROBOT_SYNC_CONFIG_FILE=config/robot_sync_config.json
ROBOT_SYNC_RECORDS_FILE=data/robot_sync_records.json
ROBOT_SYNC_LOG_FILE=logs/robot_sync.log
# ROBOT_SYNC_PYTHON=/home/robot/miniconda3/envs/teleop/bin/python
# ROBOT_SYNC_SSH_PASSWORD=

